<div class="row">
    <div class="col-6">
        <h3>Address</h3>
        <form [formGroup]="addressForm">
            <div *ngIf="!addressStr">
                <div class="form-group" *ngIf="!manualAddress">
                    <label for="search">Find address by location</label>
                    <input id="search" class="form-field" placeholder="Start by typing your location ..." autocorrect="off"
                        autocapitalize="off" spellcheck="off" type="text" class="form-control" #search
                        formControlName="search" />
                        <a class="color-primary" (click)="swapManual()">Enter manually</a>
                </div>

                <div class="form-group" *ngIf="manualAddress" formGroupName="manuallAddress">
                    <p>Input address manually</p>
                    <div class="row">
                        <div class="col-2">
                            <label for="street-nr">Nr</label><br />
                            <input id="street-nr" size="4" type="text" formControlName="streetNr" />
                        </div>
                        <div class="col-10">
                            <label for="street">Street</label><br />
                            <input id="street" type="text" formControlName="street" /> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label for="zip">Postal code</label><br />
                            <input id="zip" size="7" type="text" formControlName="zip" />
                        </div>
                        <div class="col-8">
                            <label for="town">Town / City</label><br />
                            <input id="town" type="text" formControlName="town" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label for="country">Country</label><br />
                            <input id="country" type="text" formControlName="country" />
                        </div>
                        <div class="col-4 mt-4">
                            <button (click)="saveAddress()">Save Address</button>
                        </div>
                    </div>
                    <a class="color-primary" (click)="swapManual()">Search by location</a>
                </div>
            </div>
        </form>
        <div class="row" *ngIf="addressStr">
            <div class="col-8">
                <span [innerText]="addressStr"></span>
            </div>
            <div class="col-4">
                <a class="color-primary" (click)="clearAddress()">Clear</a>
            </div>
        </div>
    </div>
</div>