<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <h1>Afterpay location example</h1>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

