<h2 class="mb-5">Address component example</h2>
<component-select-address (address)="takeAddress($event)"></component-select-address>

<h3 class="mt-4">About the component</h3>
<p>The component included on this page lets the user search for their address from an input field that autocompletes with matches from the Google Maps Places api. Once a location is selected the address gets filled out and displayed as a text string. An object with the address is outputted to the parent component for later use. The user can also opt to enter their address manually.</p>
<p>I’ve opted for showing the address as a one-line string rather than anything larger mostly for user consistency. Ideally the address line should have the same height as the input field as to much resizing of elements on the page can be confusing for both users of magnification software as well as mobile users. Thus we could also opt for just leaving the input field as is with the formatted address as value but I wanted to show the user that the address was saved, regardless if they entered it via search or manually. </p>
<p>There’s certainly some code that could be refactored. The procedure of saving the address to the address object and then emit it is very much duplicated and could be shortened. Having said that the code is now easy to follow which, other routes of coding, would perhaps not be.</p>
<p>I look forward to having a chat with you about this small example.</p>

<p>Regards,<br />
Fredrik Jonsson</p>

<p><b>Got an address in:</b> {{country}}</p>
